{% extends "base.njk" %}

{% block titulo %}Limpiezas de Habitaciones | Limpiezas{% endblock %}

{% block contenido %}

<h1>Limpiezas de habitacion {{ numero }}</h1>
    
<form action="/limpiezas/{{ idHabitacion }}" method="post">

    <div class="form-group">
        <lafel for="fechaLimpieza">Fecha de limpieza</label>
        <input type="date" id="fechaHora" name="fechaHora" value="{{ fechaActual }}">
    </div>
    <div class="form-group">
        <div>
            <label for="observaciones">Observaciones</label>
        </div>
        <textarea id="observaciones" name="observaciones" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>

</form>

{% endblock %}